.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: whitesmoke;
}

.title {
  font-size: 32px;
  margin-bottom: 20px;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
  text-align: center;
}

.container-button {
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #3190A3;
  color: white;
  margin-bottom: 20px;
  cursor: pointer;
}

.button{
  background-color:  transparent  ;
}
.contenedor-botones {
  display: flex;
  flex-direction: column;

}

.contenedor-botones button {
  margin-right: 10px;
}

.contenedor-formularios form {
  margin-top: 20px;
}
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-group label {
  width: 120px;
  margin-right: 10px;
}

.form-group input[type="text"] {
  width: 300px;
  height: 40px;
  font-size: 16px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.form-title {
  text-align: center;
}

.submit-button {
  background-color: #3190A3; /* Color de fondo */
  border: none; /* Sin borde */
  color: white; /* Color de texto */
  padding: 10px 20px; /* Espacio interno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin subrayado */
  display: inline-block; /* Como elemento en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 10px 0; /* Espacio externo */
  cursor: pointer; /* Cambio de cursor al pasar el mouse */
  border-radius: 4px; /* Bordes redondeados */
  transition-duration: 0.4s; /* Duración de la transición */
}

.submit-button:hover {
  background-color: #45a049; /* Color de fondo al pasar el mouse */
}
