<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="text-align: center;">
      Your Finances
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Contenido dentro de la tab-->
<ion-content [fullscreen]="true">
  <div class="container">
    <h2 class="title" style="color: black;">SETTINGS LOG </h2>
    <p class="description" style="color: black;">Here you can keep track of your income and expenses</p>
    <h5 style="color: black;"><u>Actual Balance:</u> 200€</h5>
  </div>

</ion-content>



