<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="home" (click)="home()" class="home"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title  style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Login</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button (click)="checkLog()">Login</ion-button>
    <a class="already" href="/register">Still don't have an account? Register now</a>
  </ion-list>
</ion-content>
