<ion-header>
  <ion-toolbar>
    <ion-title>
      My Ionic App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Welcome to Ionic</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>This is a simple Ionic app.</p>
      <p>Enjoy building awesome mobile applications!</p>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      Footer Section
    </ion-title>
  </ion-toolbar>
</ion-footer>
