<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button" (click) = "toggleMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-right: 5%;">
      Your Finances
    </ion-title>
  </ion-toolbar>
</ion-header>

<!--Contenido dentro de la tab-->
<ion-content [fullscreen]="true">
  <div class="container">
    <h2 style="color: black;">You have to be logged in to see this page</h2>
    <ion-icon name="lock-closed-sharp" size="large" class="color-black" (click)="redirect()"></ion-icon>
  </div>
</ion-content>




