<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-icon name="home" (click)="home()" class="home"></ion-icon>
        </ion-col>
        <ion-col>
          <ion-title style="text-align: center; font-family: Arial, Helvetica, sans-serif;">Category Check</ion-title>
        </ion-col>
        <ion-col></ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let category of categoryList" style="background-color: whitesmoke; border: 2px black solid;">
    <ion-card-header>
      <ion-card-title style="color: black;">{{category.category}}</ion-card-title>
      <ion-card-subtitle *ngIf="category.limit!==-1"><p style="color: black;">Limit: {{category.limit}}</p></ion-card-subtitle>
      <ion-card-subtitle *ngIf="category.limit===-1"><p style="color: black;">There is no limit</p></ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
     <p style="color: black;">You have spent:  {{getExpenseAmount(category.category)}}</p>
    </ion-card-content>

    <ion-button fill="clear" (click)="showExpenses()">Movements</ion-button>
    <ion-button fill="clear" (click)="showLimitPage()">Change limit</ion-button>
  </ion-card>
</ion-content>
