<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <div class="header-title">
      <ion-title>Your Finances</ion-title>
    </div>
    <div class="header-links">
      <a class="menu-link" slot="end" href="/login">Login</a>
      <a class="menu-link" slot="end" href="/register">Register</a>
    </div>
  </ion-toolbar>
</ion-header>

<!--Contenido dentro de la tab-->
<ion-content [fullscreen]="true">
  <div class="container">
    <h2 style="color: black;">You have to be logged in to see this page</h2>
    <ion-icon name="lock-closed-sharp" size="large" class="color-black" (click) = "redirect()"></ion-icon>
  </div>
</ion-content>




