<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button" (click)="toggleMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: 100px;">
      Your Finances
    </ion-title>
    <p slot="end" style="margin-right: 20px;" [ngStyle]="{ color: balanceColor }">Actual Balance: {{ currentBalance }} €</p>
  </ion-toolbar>
</ion-header>

<!--Contenido dentro de la tab-->
<ion-content style="background-color: whitesmoke;">
  <ion-segment value="default" style="background-color: whitesmoke;">
    <ion-segment-button style="background-color: whitesmoke;" value="default" (click)="selectEverything()">
      <ion-label style="background-color: whitesmoke; color: black;">Everything</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment"(click)="selectExpenses()">
      <ion-label style="background-color: whitesmoke; color: black;">Expenses</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment1"(click)="selectIncomes()">
      <ion-label style="background-color: whitesmoke; color: black;">Incomes</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-content *ngIf="showEverything" style="background-color: whitesmoke;">
    <ion-list style="background-color: whitesmoke;">
    <ion-card-title style="background-color: whitesmoke; color: black;">Your movements</ion-card-title>
    <ion-card  *ngFor="let item of everythingList" style="background-color: whitesmoke; border: 2px black solid;">
      <ion-card-header style="background-color: whitesmoke;">
        <u style="color: black;">{{ item.incomeDesc ? item.incomeDesc : item.category+": "+item.description }}</u>
      </ion-card-header>
      <ion-card-content  [ngStyle]="{ color: item.quantity ? 'red' : 'green' }">
        {{ item.incomeValue ? "+"+item.incomeValue : "-"+item.quantity}}
      </ion-card-content>
      <ion-card-content>
        <p style="color: black;">{{"Date: "+item.date}}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
  </ion-content>
  <ion-content *ngIf="showExpenses" style="background-color: whitesmoke;">
    <ion-list style="background-color: whitesmoke;">
    <ion-card-title style="background-color: whitesmoke; color: black;">Your expenses</ion-card-title>
    <category-select-hiru (ionChange)="categorySelected()"></category-select-hiru>


    <ion-card  *ngFor="let item of filterExpenseList" style="background-color: whitesmoke; border: 2px black solid;">
      <ion-card-header style="background-color: whitesmoke;">
        <u style="color: black;">{{ item.category+": "+item.description }}</u>
      </ion-card-header>
      <ion-card-content  [ngStyle]="{ color:'red' }">
        {{"-"+item.quantity}}
      </ion-card-content>
      <ion-card-content>
        <p style="color: black;">{{"Date: "+item.date}}</p>
      </ion-card-content>
    </ion-card>
    </ion-list>
  </ion-content>
  <ion-content *ngIf="showIncomes" style="background-color: whitesmoke;">
    <ion-list style="background-color: whitesmoke;">
    <ion-card-title style="background-color: whitesmoke; color: black;">Your incomes</ion-card-title>
    <ion-card  *ngFor="let item of incomeList" style="background-color: whitesmoke; border: 2px black solid;">
      <ion-card-header style="background-color: whitesmoke;">
        <u style="color: black;">{{ item.incomeDesc }}</u>
      </ion-card-header>
      <ion-card-content  [ngStyle]="{ color: 'green' }">
        {{ "+"+item.incomeValue}}
      </ion-card-content>
      <ion-card-content>
        <p style="color: black;">{{"Date: "+item.date}}</p>
      </ion-card-content>
    </ion-card>
    </ion-list>
  </ion-content>





</ion-content>



