<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="button" (click)="toggleMenu()">
        <ion-icon name="menu" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align: center; margin-left: 100px;">
      Your Finances
    </ion-title>
    <p slot="end" style="margin-right: 20px;" [ngStyle]="{ color: balanceColor }">Actual Balance: {{ currentBalance }} €</p>
  </ion-toolbar>
</ion-header>

<!--Contenido dentro de la tab-->
<ion-content>
  <ion-list>
    <ion-card-title>Incomes</ion-card-title>
    <ion-card *ngFor="let item of incomeList">
      <ion-card-header>
        <u>{{ item.incomeDesc }}</u>
      </ion-card-header>
      <ion-card-content [ngStyle]="{ color: 'green'}">
        +{{ item.incomeValue }}
      </ion-card-content>
    </ion-card>
    <ion-card-title>Expenses</ion-card-title>
    <ion-card *ngFor="let item of expenseList">
      <ion-card-header>
        <u>{{ item.category }}: {{ item.description }}</u>
      </ion-card-header>
      <ion-card-content [ngStyle]="{ color: 'red'}">
        -{{ item.quantity }}
      </ion-card-content>
    </ion-card>
  </ion-list>

</ion-content>



